<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path("accueil") }}">Accueil</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path("new_trajet") }}">Ajouter un trajet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("new_lieu") }}">Ajouter un lieu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Rechercher un trajet</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="btn btn-outline-success" href="{{ path ("app_logout") }}">Déconnexion</a>
            {% else %}
                <a class="btn btn-outline-success" href="{{ path ("app_login") }}">Connexion</a>
                <a class="btn btn-outline-success" href="{{ path ("app_register") }}">Inscription</a>
            {% endif %}
        </div>
    </div>
</nav>